streamlit
langchain
langchain-community
groq
python-dotenv
PyPDF2
pdfplumber
pytesseract
Pillow
beautifulsoup4
sentence-transformers

# Dependências RAG
faiss-cpu
unstructured
markdown # <-- Adicionada aqui