streamlit
langchain<=0.1.16
langchain-groq<=0.0.8
groq
python-dotenv
PyPDF2
pdfplumber
pytesseract
Pillow
beautifulsoup4
sentence-transformers
numpy

# Dependências RAG
faiss-cpu
unstructured
markdown # <-- Adicionada aqui